body{
    color: #000;
  }
  
  a{
    text-decoration: none;
    color:initial;
  }
  
  p{
    margin-bottom: 0;
  }
  
  ul , ol{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  main {
    /*margin-top: 56px;*/
    // min-height: calc(100vh - 678px);
} 

/* 工具類 */
.discount-price-active {
  margin-left: 8px;
  color: #8D8D8D;
  text-decoration: line-through;
}
